<div id="wrap">
  <table>
    <tr>
      <th>Comic</th>
      <th>Votes</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Maximum Carnage</td>
      <td>7</td>
      <td>
        <button>Vote Up</button>
        <button>Vote Down</button>
        <button>Delete</button>
      </td>
    </tr>
    <tr>
      <td>Infinity Gauntlet</td>
      <td>4</td>
      <td>
        <button>Vote Up</button>
        <button>Vote Down</button>
        <button>Delete</button>
      </td>
    </tr>
    <tr>
      <td>Punisher: War Journals</td>
      <td>11</td>
      <td>
        <button>Vote Up</button>
        <button>Vote Down</button>
        <button>Delete</button>
      </td>
    </tr>
    <tr>
      <td>Howard the Duck</td>
      <td>-2</td>
      <td>
        <button>Vote Up</button>
        <button>Vote Down</button>
        <button>Delete</button>
      </td>
    </tr>
    
  </table>
</div>